@font-face {
    font-family: "Josefin_Sans";
    src: url(./Assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

/* CSS for styling Horizontal Navbar */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --color1: #353535;
    --color2: white;
    font-family: "Josefin_Sans", serif;
    background-color: rgb(248, 247, 247);
    color: #5a5a5a;
    transition: 0.5s;
}

/* Navigation */
.nav-bar {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 50px;
    border-bottom: 1px solid rgb(223, 218, 218);
    box-shadow: 1px 1px 8px 5px #888888;
}

/*  */
.logo img {
    width: 150px;
}

.menu-bar {
    display: flex;
    position: absolute;
    right: 0px;
    padding: 10px;

}

.menu-bar li {
    padding-left: 10px;

}

.menu-bar li a {
    display: inline-block;
    color: #600ee4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;

}

.menu-bar li a:hover {

    color: white;
    background-color: rgb(9, 32, 160);
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

@media screen and (max-width:1100px) {
    .menu-bar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu-bar li {
        margin-top: 40px;
    }

    .menu-bar li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu-bar {
        right: 0;
    }
}

/* Dark Mode */
.nav-bar #checkbox_DM {
    margin-right: 10px;
    margin-left: 10px;
}

.nav-bar p {
    font-size: 20px;
    font-weight: bold;
}

.dark-mode {
    background-color: black;
    color: white;
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: #434343;
    outline: none;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;

}

input[type="checkbox"]:checked {
    background-color: #9dd10e;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgb(252, 250, 250);
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.5s ease;
}

input[type="checkbox"]:checked::before {
    transform: translateX(20px);

}


/* Image Slider */
.slider {
    position: relative;
    width: 1250px;
    height: 500;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
}

.slide {
    transition: 2s;
    width: 20%;
}

.slide img {
    width: 1250px;
    height: 500;
}

.slides input {
    display: none;
}

/* CSS for manual slide navigation */
.nav-manual {
    position: absolute;
    width: 1250px;
    margin-top: -14px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #2a67a5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #2a67a5;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

/* CSS for automation */
.nav-auto {
    position: absolute;
    display: flex;
    width: 1250px;
    margin-top: 490px;
    justify-content: center;
}

.nav-auto div {
    border: 2px solid #2a67a5;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.nav-auto .auto-btn1 {
    background: #2a67a5;
}

#radio2:checked~.nav-auto .auto-btn2 {
    background: #2a67a5;
}

.header-text {
    color: white;
    background-color: #16025c;
    opacity: 0.9;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 40px;
    transition: font-size 2s, color 2s, background-color 2s;
    /* transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 1s;
    padding-bottom: 10px; */

}

.header-text:hover {
    transition: font-size 4s, color 3s;
    font-size: 30px;
    color: black;
    background-color: rgb(13, 209, 216);
}

.header-text h1 {
    animation-duration: 2s;
    animation-name: h1-animation;
}

@keyframes h1-animation {
    from {
        margin-bottom: 100px;
    }

    to {
        margin-bottom: 0x;
    }
}

@media screen and (max-width:1250px) {
    .slider {
        display: none;
    }
}

/* Main Content */
/* Section 1 */
.container h1 {
    text-shadow: 2px 2px #0a1399;
    font-size: 30px;
    color: rgb(145, 142, 142);
}

/* Grid Section 1 */
.container {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    left: 0;
    right: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 250px 350px;
    grid-gap: 10px;
}

.container>div {
    background-color: #eaeff5;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.container>div h1 {
    text-align: center;
    padding: 10px;
}

.container>div img {
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

.container>div p {
    padding: 10px;
    color: rgb(145, 142, 142);
}

#one {
    grid-column: 1 / span 2;
    grid-row: 1;
}

@media screen and (max-width:1100px) {
    .container {
        /* display: none; */
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }

    #one {
        grid-column: 1;
        grid-row: 1;
    }
}

/* Grid Section 2 */
.head-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 60px;
    font-size: 50px;

}

.container2 {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 300px;
    grid-gap: 10px;
    padding: 10px;
}

.container2>div {
    width: 500px;
    box-shadow: 10px 5px 5px 0px black;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container2>div img {
    width: 100%;
    padding-top: 10px;
    border-radius: 30px;
}

@media screen and (max-width:1100px) {
    .container2 {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
}

/* Section3 Testimoni */
.testimoni-header {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
}

.image-testimoni {
    display: flex;
    width: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

}

.image-testimoni img {
    border-radius: 50px;
}


/* section 3 */
.head-section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
}

.video-Food-Safety {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.video-Food-Safety iframe {
    width: 50%
}

/* section 4 (User form)*/
#user-form {
    background-image: url(./Assets/Food-Safety\ Background.jpeg);

}

h2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
}

fieldset {
    background-color: #16025c;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

legend {
    background-color: rgb(155, 156, 156);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#user-form form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

button[type="submit"] {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}